<html>
  <head>
    <title>FunkoFever</title>
  </head>
  <body>
    <header>
      <nav>
        <a href='/'>Home</a>
        <a href='/shop'>Shop</a>
        <a href='/cart'>Cart</a>
        <a href='/login'>Login</a>
        <a href='/Sign-up'>Sign-Up</a>
      </nav>
      <section class='categories'>
        <ul>
          <li><a href='/category/category_id'>New Release</a></li>
          <li><a href='/category/category_id'>Anime</a></li>
          <li><a href='/category/category_id'>Television</a></li>
          <li><a href='/category/category_id'>Movies</a></li>
          <li><a href='/category/category_id'>Sports</a></li>
        </ul>
      </section>
      <h1>Welcome to FunkoFever!</h1>
    </header>

    <form class='search-form' action='/search' method='GET'>
      <input type='text' name='query' placeholder='Search...' required />
      <button type='submit'>Search</button>
    </form>

    {{#each items}}
      <section class='featured'>
        <h2>{{name}}</h2>
        <div class='product'>
          <img src='path_to_image' alt='{{name}}' />
          <h3>{{name}}</h3>
          <p>Price: ${{price}}</p>
          <a href='/product/{{@index}}'>View Details</a>
        </div>
      </section>
    {{/each}}

    <footer>
      <p>&copy; 2023 FunkoFever - All rights reserved</p>
    </footer>

    <script src='scripts.js'></script>
  </body>
</html>

{{!-- <!DOCTYPE html>
<html>
<head>
  <title>FunkoFever</title>
</head>
<body>
  <header>
    <nav>
      <a href="/">Home</a>
      <a href="/shop">Shop</a>
      <a href="/cart">Cart</a>
    </nav>
    <section class="categories">
        <ul>
          <li><a href="/category/category_id">New Release</a></li>
          <li><a href="/category/category_id">Anime</a></li>
          <li><a href="/category/category_id">Television</a></li>
          <li><a href="/category/category_id">Movies</a></li>
          <li><a href="/category/category_id">Sports</a></li>
        </ul>
      </section>
    <h1>Welcome to FunkoFever!</h1>
  </header>

<form class="search-form" action="/search" method="GET">
  <input type="text" name="query" placeholder="Search..." required>
  <button type="submit">Search</button>
</form>

  {{#each funkoData}}
  <section class="featured">
    <h2>{{name}}</h2>
    <div class="product">
      <img src="path_to_image" alt="{{name}}">
      <h3>{{name}}</h3>
      <p>Price: ${{price}}</p>
      <a href="/product/{{../index}}">View Details</a>
    </div>
  </section>
  {{/each}}

  <footer>
    <p>&copy; 2023 FunkoFever - All rights reserved</p>
  </footer>

  <script src="scripts.js"></script>
</body>
</html> --}}